@import 'tailwindcss';

@theme {
    --color-primary: oklch(0.76 0.0202 262.99);
    --color-background: oklch(0.29 0.014 261.7);
    --color-secondary: oklch(0.69 0.164 318.63);

    --font-link: "Libre Caslon Display", serif;
}

@utility g-padding {
    @apply px-[5vw]
}

html, body {
    font-family: "Tomorrow", sans-serif;
    background-color: var(--color-background);
    color: var(--color-primary);
}

a {
    font-size: 1.2rem
}